asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
Django==5.1.4
idna==3.10
pillow==11.0.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
razorpay==1.4.2
requests==2.32.3
setuptools==75.6.0
sqlparse==0.5.3
tzdata==2024.2
urllib3==2.2.3
