
<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="{% static '/images/favicon.png' %}">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="{% static '/css/tiny-slider.css' %}" rel="stylesheet">
		<link href="{% static '/css/style.css' %}" rel="stylesheet">
		
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
			<!-- Default theme -->
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

		<title>Furni Free Bootstrap 5 Template for Furniture and Interior Design Websites by Untree.co </title>

		<style>
			@media (min-width: 768px){
				.justify-content-md-end {
   					 justify-content: flex-start!important;
			}}
			#dropdownMenuLink{
				background: #222;
				border: none;
				border-radius: 0px;
				color: white;
			}
		</style>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="index.html">Furni<span>Com</span></a>
	
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
					aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
	
				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item active">
							<a class="nav-link" href="">Home</a>
						</li>
						<li><a class="nav-link" href="{% url 'shop' %}">Shop</a></li>
						<li><a class="nav-link" href="about.html">About us</a></li>
						<li><a class="nav-link" href="services.html">Services</a></li>
						<li><a class="nav-link" href="blog.html">Blog</a></li>
						<li><a class="nav-link" href="contact.html">Contact us</a></li>
					</ul>
							{% if user.is_authenticated%}
							<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
								<li><div class="dropdown">
									<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="fa-solid fa-user" style="color: #ffffff;"></i>&nbsp&nbsp{{user.username}}
									</a>
								  
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<li><a class="dropdown-item" href="{% url 'myprofile' %}"><i class="fa-solid fa-user"></i>    View Profile</a></li>
								<li><a class="dropdown-item" href="{% url 'viewwishlist' %}"><i class="fa-solid fa-heart"></i>    Wishlist</a></li>
								<li><a class="dropdown-item" href="{% url 'userlogout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i>    Logout</a></li>
							{% else %}
							<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
								<li><div class="dropdown">
									<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="fa-solid fa-user" style="color: #ffffff;"></i>&nbsp&nbsp&nbspAccounts
									</a>
								  
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							  <li><a class="dropdown-item" href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket"></i>  Login</a></li>
							  <li><a class="dropdown-item" href="{% url 'register' %}"><i class="fa-solid fa-user-plus"></i>   Signup</a></li>
							{% endif %}
							</ul>
						  </div>
						</li>
						<li>
							<div style="position:relative">
								<a class="nav-link" href="{% url 'cart' %}">
									<img src="{% static '/images/cart.svg' %}">
								</a>
								<span style="position: absolute; top:0px; left:30px; border-radius:15px" class="badge badge-notification bg-danger">{{cartcount}}</span>
							</div>
						</li>
					</ul>
				</div>	
			</div>
	
		</nav>
		<!-- End Header/Navigation -->
		<section>
	
			<div class="container">
			<div class="row">
					<div class="col-12">
						<!-- Page title -->
						<div class="my-5">
							<h1 class="text-center" style="color: #6c757d;
							margin-top: -35px;">My Profile</h1>
							<hr>
						</div>
						<!-- Form START -->
						<form class="file-upload" method="post" action="{% url 'myprofile' %}">
							{% csrf_token %}
							<div class="row mb-5 gx-5">
								<!-- Contact detail -->
								
								{% if items %}:
								{% for i in items %}
								<div class="col-xxl-8 mb-5 mb-xxl-0">
									<div class="bg-secondary-soft px-4 py-5 rounded">
										<div class="row g-3">
											<h4 class="mb-4 mt-0">Contact detail</h4>
											<!-- First Name -->
											<div class="col-md-6">
												<label class="form-label">First Name</label>
												<input type="text" class="form-control" placeholder="" value="{{ i.first_name }}" name="firstname" aria-label="First name" >
											</div>
											<!-- Last name -->
											<div class="col-md-6">
												<label class="form-label">Last Name </label>
												<input type="text" class="form-control" placeholder="" value="{{ i.second_name }}" name="lastname" aria-label="Last name" >
											</div>
											<!-- Address -->
											<div class="col-md-6">
												<label class="form-label">Address</label>
												<input type="text" class="form-control" placeholder="" value="{{ i.address }}" name="address" aria-label="Phone number" >
											</div>
											<!-- Mobile number -->
											<div class="col-md-6">
												<label class="form-label">Mobile number </label>
												<input type="text" class="form-control" placeholder="" value="{{ i.mobile_number }}" name="phone" aria-label="Phone number" >
											</div>
											<!-- Email -->
											<div class="col-md-6">
												<label for="inputEmail4" class="form-label">Email </label>
												<input type="email" class="form-control" id="inputEmail4" value="{{ i.email }}" name="email">
											</div>
											<!-- Skype -->
											<div class="col-md-6">
												<label class="form-label">Skype </label>
												<input type="text" class="form-control" placeholder="" name="skype" value="{{ i.skype }}" aria-label="Phone number" >
											</div>
										</div> <!-- Row END -->
									</div>
								</div>
								{% endfor %}
								{% else %}
								<div class="col-xxl-8 mb-5 mb-xxl-0">
									<div class="bg-secondary-soft px-4 py-5 rounded">
										<div class="row g-3">
											<h4 class="mb-4 mt-0">Contact detail</h4>
											<!-- First Name -->
											<div class="col-md-6">
												<label class="form-label">First Name</label>
												<input type="text" class="form-control" placeholder=""  name="firstname" aria-label="First name" >
											</div>
											<!-- Last name -->
											<div class="col-md-6">
												<label class="form-label">Last Name </label>
												<input type="text" class="form-control" placeholder=""  name="lastname" aria-label="Last name" >
											</div>
											<!-- Address -->
											<div class="col-md-6">
												<label class="form-label">Address</label>
												<input type="text" class="form-control" placeholder=""  name="address" aria-label="Phone number" >
											</div>
											<!-- Mobile number -->
											<div class="col-md-6">
												<label class="form-label">Mobile number </label>
												<input type="text" class="form-control" placeholder=""  name="phone" aria-label="Phone number" >
											</div>
											<!-- Email -->
											<div class="col-md-6">
												<label for="inputEmail4" class="form-label">Email </label>
												<input type="email" class="form-control" id="inputEmail4"  name="email">
											</div>
											<!-- Skype -->
											<div class="col-md-6">
												<label class="form-label">Skype </label>
												<input type="text" class="form-control" placeholder="" name="skype"  aria-label="Phone number" >
											</div>
										</div> <!-- Row END -->
									</div>
								</div>
								{% endif %}
								
								<!-- Upload profile -->
								
			
							<!-- Social media detail -->
							<div class="row mb-5 gx-5">
								<div class="col-xxl-6 mb-5 mb-xxl-0">
									<div class="bg-secondary-soft px-4 py-5 rounded">
										<div class="row g-3">
											<h4 class="mb-4 mt-0">Social media detail</h4>
											<!-- Facebook -->
											<div class="col-md-6">
												<label class="form-label"><i class="fab fa-fw fa-facebook me-2 text-facebook"></i>Facebook </label>
												<input type="text" class="form-control" placeholder="" aria-label="Facebook" >
											</div>
											<!-- Twitter -->
											<div class="col-md-6">
												<label class="form-label"><i class="fab fa-fw fa-twitter text-twitter me-2"></i>Twitter </label>
												<input type="text" class="form-control" placeholder="" aria-label="Twitter" >
											</div>
											<!-- Linkedin -->
											<div class="col-md-6">
												<label class="form-label"><i class="fab fa-fw fa-linkedin-in text-linkedin me-2"></i>Linkedin </label>
												<input type="text" class="form-control" placeholder="" aria-label="Linkedin" >
											</div>
											<!-- Instragram -->
											<div class="col-md-6">
												<label class="form-label"><i class="fab fa-fw fa-instagram text-instagram me-2"></i>Instagram </label>
												<input type="text" class="form-control" placeholder="" aria-label="Instragram" >
											</div>
											<!-- Dribble -->
											<div class="col-md-6">
												<label class="form-label"><i class="fas fa-fw fa-basketball-ball text-dribbble me-2"></i>Dribble </label>
												<input type="text" class="form-control" placeholder="" aria-label="Dribble" >
											</div>
											<!-- Pinterest -->
											<div class="col-md-6">
												<label class="form-label"><i class="fab fa-fw fa-pinterest text-pinterest"></i>Pinterest </label>
												<input type="text" class="form-control" placeholder="" aria-label="Pinterest" >
											</div>
										</div> <!-- Row END -->
									</div>
								</div>
			
								<!-- change password -->
							<!--
								<div class="col-xxl-6">
									<div class="bg-secondary-soft px-4 py-5 rounded">
										<div class="row g-3">
											<h4 class="my-4">Change Password</h4>
											
											<div class="col-md-6">
												<label for="exampleInputPassword1" class="form-label">Old password *</label>
												<input type="password" class="form-control" id="exampleInputPassword1">
											</div>
											
											<div class="col-md-6">
												<label for="exampleInputPassword2" class="form-label">New password *</label>
												<input type="password" class="form-control" id="exampleInputPassword2">
											</div>
											
											<div class="col-md-12">
												<label for="exampleInputPassword3" class="form-label">Confirm Password *</label>
												<input type="password" class="form-control" id="exampleInputPassword3">
											</div>
										</div>
									</div>
								</div>
							-->
								
								
							</div> <!-- Row END -->
							<!-- button -->
							<div class="gap-3 d-md-flex justify-content-md-end text-center" style="margin-bottom: 30px;">
								<a type="type" class="btn btn-primary btn-lg myprofile" style="border-radius: 3px; background-color:black" href="{% url 'deleteprofile' %}">Delete Account</a>
								<button type="submit" class="btn btn-primary btn-lg myprofile" style="border-radius: 3px;">Update profile</button>
							</div>
						</form> <!-- Form END -->
					</div>
				</div>
				</div>
		</section>
		
	
	
	
	
		

		

		

		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">

				<div class="sofa-img">
					<img src="{% static '/images/sofa.png' %}" alt="Image" class="img-fluid">
				</div>

				<div class="row">
					<div class="col-lg-8">
						<div class="subscription-form">
							<h3 class="d-flex align-items-center"><span class="me-1"><img src="{% static '/images/envelope-outline.svg' %}" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

							<form action="#" class="row g-3">
								<div class="col-auto">
									<input type="text" class="form-control" placeholder="Enter your name">
								</div>
								<div class="col-auto">
									<input type="email" class="form-control" placeholder="Enter your email">
								</div>
								<div class="col-auto">
									<button class="btn btn-primary">
										<span class="fa fa-paper-plane"></span>
									</button>
								</div>
							</form>

						</div>
					</div>
				</div>

				<div class="row g-5 mb-5">
					<div class="col-lg-4">
						<div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Furni<span>.</span></a></div>
						<p class="mb-4">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant</p>

						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">About us</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Contact us</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Support</a></li>
									<li><a href="#">Knowledge base</a></li>
									<li><a href="#">Live chat</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Jobs</a></li>
									<li><a href="#">Our team</a></li>
									<li><a href="#">Leadership</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Nordic Chair</a></li>
									<li><a href="#">Kruzo Aero</a></li>
									<li><a href="#">Ergonomic Chair</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
            </p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->	


		<script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static '/js/tiny-slider.js' %}"></script>
		<script src="{% static '/js/custom.js' %}"></script>
	</body>

	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

	<script>
		alertify.set('notifier', 'position', 'top-right');
	</script>

	 
    {% for msg in messages %}
    alertify.success({{ msg }});
    {% endfor %}

	


</html>
